# dependencies
node_modules/
dist/
dist-ssr/

# rust / tauri
src-tauri/target/
src-tauri/gen/

# logs
*.log
logs/

# editor / os
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# env
.env
.env.local
